section {
  padding: 24px;
  margin-bottom: 24px;
}

.header {
  display: flex;
  align-items: baseline;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.header h4 {
  margin-right: 12px;
}

.subSection {
  padding: 12px;
  margin-bottom: 12px;
}
